.aboutIntro {
  background: #ffffff;
  padding: 0 10vw;
}

.aboutIntro h1 {
  font-family: 'MontserratAlternates-bold';
  font-weight: bold;
  text-align: center;
  width: 86%;
}

.aboutIntro {
  background: #ffffff;
  margin-top: 5.5vw;
}

.aboutIntro-Item {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: auto;
  width: 93%;
  margin-bottom: 5vw;
}
.aboutIntro-firstTitle {
  color: #1a1f3a;
  font-size: 3.34vw;
  margin-bottom: 0;
}
.aboutIntro-secondTitle {
  color: #e56b36;
  font-size: 2.93vw;
}
.first-SecondTitle{
  margin-bottom: 0px;
  margin-bottom: 0;
}

.aboutIntro-text {
  color: #000000;
  font-family: "Montserrat";
  width: 100%;
  font-size: 0.972vw;
  margin-left: 20vw;
  margin-bottom: 0;
}

p.clr_ {
  color: #dcac43;
}

p.clt_0 {
  color: #e77340;
}

@media screen and (max-width: 767px) {
  .aboutIntro-firstTitle {
  font-size: 7.4vw;
  }
  .aboutIntro-secondTitle {
    font-size: 9.375vw !important;
  }
  .aboutIntro-text {
    font-size: 2.5vw;
    color: #000000;
    font-family: "Montserrat";
    width: 81%;
   margin: auto;
   margin-top: 3vw;
  }
  .aboutIntro {
    background: #ffffff;
    width: 100%;
    padding:0;
  }

  .aboutIntro h1 {
    font-size: 9.375vw !important;
    margin-bottom: 7.813vw !important;
    margin-top: 18.438vw !important;
  }

}
