.estimate_revenues {
  width: 100%;
  /* background-color: #f2f2f2; */
  padding: 2.4vw 0 5vw 0;
  float: left;
}

.estimate_revenues h1 {
  color:  #0C183B;
  text-align: center;
  margin: 2vw auto 0vw auto;
  font-size: 3.36vw;
  font-family: "Montserrat-SemiBold";
  letter-spacing: 1.25px;
  padding-top: 0vw;
  margin-bottom: 4.8vw;
  line-height: 61px;
}

.estimate_revenues_container{
  width: 86.9vw;
  background: #E7E8EC;
  border-radius: 50px;
  height:49vw ;
  margin: auto;
  padding-top: 1%;
  padding-bottom: 1%;
}
.estimate_revenues h2 {
  font-family: "Montserrat-SemiBold";
  font-size: 1.745vw;
  text-align: left;
  padding-top: 0vw;
  margin-bottom: -1vw;
  color: #0f1941;
}

.estimate_revenues form,
.result_form {
  width: 35%;
  float: left;
  padding-left: 10%;
    padding-right: 5%;
}
.second-Contain{
  width: 48%;
    padding-left: 1%;
    padding-right: 1%;
}
.btn-estimate{
  margin-top: 3.5vw !important;
    width:14.2vw !important;
    padding: 0;
    height: 4vw;
    font-size: 1.33vw !important;
    -webkit-appearance: none;
}

.aboutIntro-secondTitle{
  color:#E56B36 !important;
  margin-bottom:2vw !important;
  font-size:3.33vw !important;
}
/*=========== select style =========*/

.select_activity_sector {
  width: 100%;
  margin: 2vw 0%;
  height: 54px;
}

.labelselectstyle {
  position: relative;
  width: 82%;
  margin-bottom: 0px;
  height: 100%;
}

.labelselectstyle:before {
  background: none repeat scroll 0 0 #ffffff;
  content: "";
  display: block;
  height: 33px;
  pointer-events: none;
  position: absolute;
  right: 0;
  width: 35px;
}

.select_activity_sector select {
  font-family: 'Montserrat';
  -moz-appearance: none;
  background: none repeat scroll 0 0 #ffffff;
  border: medium none;
  color: #000000;
  cursor: pointer;
  display: inline-block;
  height: 100%;
  margin: 0;
  outline: medium none;
  white-space: normal;
  width: 25vw;
  text-align: left;
  text-align-last: left;
  padding-left: 1%;
  font-size: 1.4vw;
  
}
.select_activity_sector option{
  font-family: 'Montserrat';
font-style: normal;
font-weight: 600;
font-size: 25px;
line-height: 30px;
font-size: 1.5vw;
color: #000000;
}

.labelselectstyle:after {
  background: white;
  color: #414042;
  content: "<";
  font: 25px "Consolas", monospace;
  padding: 0;
  pointer-events: none;
  position: absolute;
  right:10px;
  top: -4px;
  transform: rotate(270deg);
  font-weight: bold;
}
.labelselectstyle-second:after{
  top: 12px;
  background: white;
}

.estimate_revenues input[type="submit"] {
  border: 0;
  background: #191745;
  color: #ffffff;
  padding: 1vw 10%;
  margin: 0;
  display: block;
  font-size: 1vw;
  font-weight: 500;
  letter-spacing: 1.5px;
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  border-radius: 5px;
}
.xaf-select{
  position: absolute;
    z-index: 121212;
    /* MARGIN-RIGHT: 6vw; */
    background: white;
    height: 2.5%;
    MARGIN: 0;
    font-size: 0.984vw;
    font-family:'MontserratAlternates-bold' ;
    color: #000000;
    padding-top: 0.4%;
    PADDING-LEFT: 0.7%;
}

/******/
/* ==================================== START PAGE payment_collection ============================*/

.payment_collection {
	background-color: #E7E8EC;
	margin: 5vw 7%;
	float: left;
  width: 86%;
  height:46.696vw !important;
  margin-top:0;
  margin-bottom:0
}
/* .payment_collection h1 {
    color: #414042;
    text-align: center;
    margin: 4vw auto 5vw auto;
    font-size: 3.5vw;
    font-family: 'Montserrat', sans-serif;
    letter-spacing: 1.25px;
    padding-top: 0;
    float: left;
    width: 100%;
} */


.payment_collection table { 
	width: 90%; 
	border-collapse: collapse; 
	margin:50px auto;
	font-family: 'Montserrat', sans-serif;
	}



.payment_collection th { 
	color: white; 
	font-weight: bold; 
	}

.payment_collection td, .payment_collection th { 
		padding: 10px; 
		
		text-align: left; 
    font-size: 1vw;
    padding-bottom: 0px;
	}
	
	.payment_collection table label {
	background-color: #fff;
	width: 100%;
	display: block;
	padding: 10px 5px;
	text-align: center;
	background-color: #fff;
    height: 50px;
}

.payment_collection td.last_td {
	background-color: transparent;
	position: relative;
	left: 10px;
  padding: 0;
  padding-top:10px ;
}

.payment_collection td label.padding_td {
  /* padding: 30px 5px 0px 5px; */
  /* padding-top: 10px; */
  display: flex;
  justify-content: center;
  align-items: center;
  padding-bottom: 15px !important;
  height: 30px;
}


.payment_collection td.last_td label { 
	padding: 0;
	height: 170px;
}
	
.payment_collection table th label {
  background-color: #0E1939;
	/* font-family: 'Montserrat'; */
	font-weight:lighter;
  padding-top: 10px;
  padding-bottom: 10px;
  height: 36px;
 
}


.payment_collection td.last_td label.padding_td {
	padding-top: 15px;
    height: 93px;
    width: 95%;
}

.payment_collection td label.loyal {
  padding-top: 10px;
  padding-bottom: 15px !important;
  font-family: 'Montserrat-light';
  color: #0E1939;
  font-weight: bolder;
  text-align: left;
  box-sizing: border-box;
  padding-left: 2vw;
  height: 57px;
}

.payment_collection tr.first_top td label {
	padding-top: 17px;
	height: 28px;
}
.table-headtab-text2{
  font-family: 'Montserrat-light';
}
.contact-us-text{
  text-decoration: none;
  font-family: 'Montserrat';
  font-size: 1vw;
  color: #E56B36;
}

.text-mobile-pay{
  margin-top:2.5vw;
  font-size: 1.68vw;
  font-family: 'MontserratAlternates-ExBold';
font-style: normal;
font-weight: bold;
line-height: 17px;
color: #000000;
text-align: center;
}

tr{
  height: 20%;
}
/* ==================================== END PAGE payment_collection ============================*/

@media screen and (max-width: 1140PX) {
  /* .estimate_revenues_container{
    height:574px ;

  } */
  .select_activity_sector{
    width: 47px;
    /* height: 11.590vw; */
  }
  .labelselectstyle:after {

    right: 12px;
  }

  .labelselectstyle:before{
    height: 100%;
    width: 3.070vw;

  }

  .labelselectstyle-second:before{
    height: 100%;

  }

  .labelselectstyle-second:after {
    top: 7px;
    left: 22vw;
    height: 3vw;
    WIDTH: 3vw;
    
  }
  .second-select{
  padding-left: 87% !important;
}
.select_activity_sector select{
  padding-left: 13%;
}
.estimation-result{
  height: 10vw;
}
/* .estimate_revenues_container.payment_collection {
  height: 481px;
} */
.estimate_revenues h1{
  margin-bottom: 1.8vw;
}
.estimation-textCont{
  margin-bottom: -0.4vw;
}
}

.first-container{
 height: 43.5vw !important;
}

@media screen and (max-width: 1024PX) {
 .payment_collection{
height: 56.380vw !important;
 }
}

@media screen and (max-width: 990px) {
  .labelselectstyle-second:after {
    left: 21.7vw;
    top: 4px;
}
}

@media screen and (max-width:862px) {
  .labelselectstyle-second:after {
    top: 15%;
   
}
}
@media screen and (max-width: 767px) {
  .container-page{
  display: flex;
  flex-direction: column;
  }

  .first-container{
   height: 114.063vw !important;
  }

  .result_form {
    display: none;
  }
  .estimate_revenues {
    padding: 6vw 0 2vw !important;
  }

  .estimate_revenues_container{
  height: 119vw !important;
  border-radius: 50px;
  }
  .estimate_revenues form,
  .result_form {
    width: 100% !important;
    padding: 0 !important;
  }

  .estimate_revenues h1 {
    font-size: 7vw !important;
    letter-spacing: 1.25px !important;
    padding-top: 4vw !important;
    margin-bottom: 4vw;
    line-height: 8.563vw;
  }

  .estimate_revenues h2 {
    font-size: 4vw !important;
    margin-bottom: 0vw !important;
    text-align: center !important;
    /* padding-top: 7vw !important; */
  }

  .aboutIntro-secondTitle{
    font-size: 9.375vw !important;
  }

  .estimation-result{
    height: 22vw;
  }
  /* ======= select style ===========*/

  .select_activity_sector {
    width: 90% !important;
    margin: 2vw 5% !important;
    position: relative;
    height: 11.590vw;
  }

  .labelselectstyle:before{
    height: 11.590vw;
    width: 4.3vw ;
  }
  .xaf-select{
    top: 16%;
    LEFT: 15%;
    font-size: 3.429vw;
  }
  
  .select_activity_sector select {
    text-align: center !important;
    text-align-last: center !important;
    padding-left: 0 !important;
    width: 62vw;
    margin-left: 7vw;
    font-size: 4vw;
    /* margin-top: 3vw; */
    margin-bottom: 3vw;
    padding-left: 33px;
    -webkit-appearance: none;
    text-indent: 22vw;
    
  }
  .select_activity_sector option {
    font-size: 2.5vw;
  }
  /* ========= input submit ====*/

  .estimate_revenues input[type="submit"] {
    font-size: 4vw !important;
    margin: 10vw auto 15vw auto !important;
    padding: 2.5vw 10% !important;
  }

  .mobile-pay-head{
    text-align: center;
    background-color: #0E1939;
    display: flex;
    align-items: center;
    justify-content: center;
    font-family: 'Montserrat';
    font-weight:lighter;
    padding-top: 5.313vw;
    padding-bottom: 5.313vw ;
    color: white; 
  font-weight: bold; 
  height: 5vw;
  font-size: 4.375vw;
  margin: auto;
  margin-bottom: 2.813vw;
  }
  .mobile-pument-contain{
    PADDING: 13% 5% 0;
    margin-bottom:10vw;
    padding-top: 0;
  }
  .mobile-pay-item{
    display: flex;
    justify-content: space-between;
 
    margin-bottom: 3.750vw;
  }
.mobile-pay-item-title{
  box-sizing: border-box;
    width:33.750vw;
    display: flex;
    align-items: center;
    background-color: #FAFBFC;
    height: 15.625vw;
    font-size: 4.375vw;
    font-weight: 500;
    margin:0;
    padding-left: 2.813vw;
    MARGIN-RIGHT: 3.125vw;
}
  .mobile-pay-item-text {
    width:36.563vw;
    padding-left: 17px;
    background-color: #fff;
    height: 15.625vw;
    display: flex;
   align-items: center;
   justify-content:center;
   font-size:4.688vw;
   font-weight: bold;
   margin:0;
  }  
  .text-mobile-pay{
    font-size: 4vw;

  }
  .text-mobile-pay-second{
     margin-top:7.813vw ;
  }
  .btn-estimate{
    width: 44vw !important;
    padding: 2px !important;
    margin: 0px;
    height: 12vw;
  }
  .labelselectstyle-second:after{
    top: 18%;
    left: 97%;
    WIDTH: 10%;
  }
  .labelselectstyle-second::before{
    height: 100%;
    top: 0;
    left: 100%;
  }
  .third-text-mobile{
display: none;
  }
  
}


@media screen and (max-width: 455px) {
  .estimate_revenues_container{
    height: 130vw;
    border-radius: 50px;
    }
    .labelselectstyle-second:after {
      top: 22%;
      left: 91%;
      WIDTH: 10%;
}
}
@media screen and (max-width: 350px) {

    .labelselectstyle-second:after {
      top: 19%;
      left: 89%;
      WIDTH: 10%;
}
}