
.estimation-result {
  width: 80%;
  background: white;
  border-radius: 10px;
  padding: 0.01% 10%;
  margin-top: 2vw;
}

.small-text-white {
  font-family: 'MontserratAlternates';
  font-style: normal;
  font-weight: 600;
  font-size: 1vw;
  line-height: 17px;
  color:#0C183B
}

.XAF-text {

  font-style: normal;
  font-weight: bold;
  font-size: 1.6vw;
  line-height: 26px;
  color: #E77340;
  height: 26px;
  position: absolute;
  top: 0.4vw;
  left: 7.5vw;
  margin-left: 0.6vw;
}
.number-earn {

  height: 47px;
  font-style: normal;
  font-weight: bold;
  font-size: 2.4vw;
  line-height: 26px;
  color: #E77340;
  height: 26px;
  position: absolute;
  top: 1.1vw;
  left: 12vw;
}
.chart-container {
  display: flex;
  margin-top: 40px;
  width: 100%;
}
.estimation-textCont{
  position: relative;
  margin-top: 0.4vw;
  margin-bottom: 1.6vw;

}
.secondtext-estim{
  margin-top: 2.5vw;
  display: flex;
  justify-content: space-between;
}
.firstestim{
  margin-bottom: 0;
}

.number-transaction{
font-weight: bold;
font-size: 1vw;
}

.gabarit{
  width:45%
}

@media screen and (max-width: 767px) {
  
.gabarit{
  width:37%
}

  .BlockChat-contain {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }

  .chart-container {
	justify-content: space-evenly;
  }
  .small-text-white {
    font-size: 3vw;
  }
  .XAF-text {
    font-size: 3vw;
    left: 20.5vw;
  }
  .number-earn {
    font-size: 5.4vw;
    top: 1.5vw;
    left: 29vw;
  }
  .estimation-textCont {
    margin-top: 2vw;
    margin-bottom: 3.6vw;
  }
  .secondtext-estim{
    margin-top: 2.5vw;
  }
  .number-transaction{
    font-size: 3vw;
  }

  .estimation-result {
    width: 70%;
  }
}
