
.estimation-result {
  height: 8.6vw;
  width: 54%;
  background: white;
  border-radius: 10px;
  padding: 0.01% 6% 0.01% 4% ;
  margin-top: 2vw;
}

.small-text-white {
  font-family: 'MontserratAlternates-ExBold';
  font-style: normal;
  font-weight: bold;
  font-size: 0.846vw;
  line-height: 17px;
  color:#0C183B
}

.XAF-text {
  font-family: 'MontserratAlternates-ExBold';
  font-style: normal;
  /* font-weight: bold; */
  font-size: 1.39vw;
  line-height: 26px;
  color: #E77340;
  height: 26px;
  position: absolute;
  top: 0.4vw;
  left: 7vw;
  margin-left: 0.8vw;
}
.number-earn {
  font-family: 'MontserratAlternates-ExBold';
  height: 47px;
  font-style: normal;
  font-weight: bold;
  font-size: 2.76vw;
  line-height: 26px;
  color: #E77340;
  height: 26px;
  position: absolute;
  top: 1.1vw;
  left: 11.5vw;
}
.chart-container {
  display: flex;
  margin-top: 40px;
  width: 100%;
}
.estimation-textCont{
  position: relative;
  margin-top: 0.8vw;
  margin-bottom: 1.6vw;

}
.secondtext-estim{
  margin-top: 2vw;
  display: flex;
  justify-content: space-between;
}
.firstestim{
  margin-bottom: 0;
}

.number-transaction{
font-weight: bold;
font-size: 1vw;
}

.gabarit{
  width:31%;
  position: relative;
}
.chart-icon{  
  position: absolute;
    width: 5vw;
    left: 24%;
    bottom: 41%;
  } 

@media screen and (max-width: 767px) {
  
.gabarit{
  width:37%;
  margin-left: 3vw
}
.chart-icon{width: 10.8vw;
  left: 27%;
  bottom: 38%
}

  .BlockChat-contain {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }

  .chart-container {
	justify-content: space-evenly;
  }
  .small-text-white {
    font-size: 2.5vw;
  }
  .XAF-text {
    font-size: 3vw;
    left: 24.5vw;
  }
  .number-earn {
    font-size: 5.4vw;
    top: 1.5vw;
    left: 32vw;
  }
  .estimation-textCont {
    margin-top: 2vw;
    margin-bottom: 3.6vw;
  }
  .secondtext-estim{
    margin-top: 2.5vw;
  }
  .number-transaction{
    font-size: 3vw;
  }

  .estimation-result {
    width: 70%;
  }
}
