

/* ==========================> 	START  block_Features =================================================*/
@font-face {
	font-family: "SFProDisplay-regular";
	src: url("/src/font/fonts/SFProDisplay-Regular.woff")	  
 }

 @font-face {
	font-family: "Montserrat";
	src: url("/src/font/fonts/Montserrat-SemiBold.ttf")
		  
 }
 


.block_Features {
	background-color:#FFFFFF;
	padding-bottom: 4vw;
	padding-left:7%;
}

.col-idool-3 {
	width:31%;
	float: left;
}

.item-featureCont{
	width: 96%;
    display: flex;
    justify-content: space-between;
}

.block_Features span {
	display: block;
	font-family: 'SFProDisplay-light';
	text-align: left;
	font-size: 3vw;
}

.block_Features h2 {
	text-align: left;
	margin: 0 auto ;
	font-size: 1.5vw;
	font-family: 'Montserrat-SemiBold';
	letter-spacing: 1.25px;
	padding-top: 0.5vw;
	color:#0f1941;
}


.block_Features p {
	text-align: left;
	margin: 1.5vw auto 0vw auto;
	font-size: 15px;
	font-style: normal;
	font-weight: 600;
	line-height: 1.5vw;
	font-family: 'SFProDisplay-regular';
}





.block_Features h1 {
	color:#0f1941;
	text-align: left;
	margin: 1.5vw auto 5vw auto;
	font-size: 2.93vw;
	font-family: 'MontserratAlternates-bold';
	letter-spacing: 1.25px;
	padding-top: 0;
	float: left;
	width: 100%;
}

.block_Features img {
	width: 11.25%;
}


  /* ====================== input sign-btn ===================*/


.col-idool-12 {
	width: 100%;
	float: left;
	margin: 8% auto;
	margin-bottom: 0;
}

.col-idool-12 input.sign-btn {
	width:15%;
	margin-left: 40%;
	font-weight: bold;
}


/*hjkhkhkhkjhkµ */

/* ==========================> 	START  block_Features =================================================*/
@media screen and (max-width: 767px) {
.block_Features {padding-left:0 !important;padding-right:0 !important;}

.block_Features h1 {
	text-align: center;
	margin:0 auto 7vw auto !important;
	font-size: 7.188vw !important;
	padding-top: 7vw !important;
	float: none !important;
	width: auto !important;
}  

.col-idool-3 {
	margin: auto;
    width: 90% !important;
	background: #fff;
}


.item-featureCont{
	width: 96%;
	display: flex;
	flex-direction: column;
    justify-content: space-between;
}

.item-featureCont h4{
	text-align: center;
}

.block_Features span {
	font-family: 'SFProDisplay-bold'!important;
	text-align: center !important;
	font-size: 10vw !important;
}

.block_Features  h2 {
	text-align: center !important;
	font-size: 5vw !important;
}

.block_Features p {
	text-align: center !important;
	/* margin: 8vw auto 5vw auto !important; */
	font-size: 3.750vw !important;
	letter-spacing: 1.25px !important;
	line-height:4.375vw;
	margin-top: 5px !important;
	
}
.col-idool--lastText{
	margin-bottom:15.313vw !important;
}

.block_Features img {

	text-align: center !important;
	margin-left: 40vw!important;
	margin-top: 10vw !important;
	/* margin-bottom: 7vw; */
}
.block_Features h2 {
	font-size: 4.375vw !important;
	line-height: 5.313vw;
	}
}



/* added by yosser */


.card {
	/* Add shadows to create the "card" effect */
	/* box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2); */
	transition: 0.3s;
	width: 31%;
  }
  
  /* On mouse-over, add a deeper shadow */
  .card:hover {
	/* box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2); */
  }
  
  /* Add some padding inside the card container */
  .container {
	/* padding: 2px 16px; */
  }


  .featureListCards  {
	font-family: "Montserrat";
	font-style: normal;
	font-weight: 600;
	font-size: 24px;
	line-height: 29px;
  }