
	footer {
		float: left;
		background-color: #fff;
		width: 100%;
	}
	
	.padding_footer {padding: 5% 10vw 0% 5vw;}
	
	.footer_blck { float:left;}
	
	.footer_blck:first-of-type, .footer_blck:first-of-type + div.footer_blck {width:25%;}
	.footer_blck:last-of-type {width: 33%; margin-left: 17%;}
	
	.lastfooter{
    display: flex;
    flex-direction: column;
	}

	.lastfooter-socialContai{
	 display: flex;
	 justify-content: start;
	 margin-top:10px
	}
	footer h2 {
		font-family: 'Montserrat';
		text-align: left;
		font-size: 2vw;  
		margin: 3% auto 1vw auto;
		padding: 0;
		color : #0E1939
	}
	footer label {
		font-family: 'Montserrat';
		font-size: 1vw;
		display: block;
		margin-bottom: 10%;
		color: #414042;
		;
	}
	
	footer ul {padding: 0;margin-top: 0vw;}
	footer ul>li {
		list-style: none;
		display: inline-block;
		width: 48%;
		padding-top: 3%;
	}
	footer ul>li>a {
		text-decoration:none;
		font-family: 'SFProDisplay-medium';
		font-size: 1vw;
		color: #414042;
	}
	
	footer span {
		font-family: 'SFProDisplay-medium';
		font-size: 1vw;
		display: block;
		margin: 3% 0 3% 0;
		letter-spacing: 1px;
	}
	
	.padding_footer form {height: auto;}
	
	input#email-footer {
		width: 47%;
		height: 2vw;
		border: 1px solid #414042;
		float: left;
		-webkit-border-radius: 5px;
		-moz-border-radius: 5px;
		border-radius: 5px;
		padding-left: 2%;
		color: #949598;
	}
	
	.padding_footer input[type="submit"] {
		border: 0;
		background-color: #d9784c;
		color: #FFFFFF;
		padding: 0 4%;
		display: block;
		font-size: 1vw;
		letter-spacing: 1.5px;
		-webkit-border-radius: 5px;
		-moz-border-radius: 5px;
		border-radius: 5px;
		width: 30%;
		margin: 0;
		margin-left: 2%;
		line-height: 2.5vw;
		float: left;
		height: 2.25vw;
		cursor: pointer;
	}
	
	.rs_ {
		margin: 6vw 0 4vw 0;
	}
	
	.rs_ ul {
		padding: 0;
		margin-top: -4%;
	}
	
	.rs_ ul>li {
		text-align: left;
		padding: 2px 0;
		width: 10%;
	}
	
	.rs_ ul>li>a {
		font-size: 2.5vw;
		color: #414042;
	}
	
	.socialMedia-item{
		width: 30px;
	}

	.subscribe-btn{
		display: flex;
		justify-content: center;
		align-items: center;
  font-weight: bold;
	}
/* ============================= END footer ==========================*/

@media screen and (max-width: 767px) {

	.footer_blck {width:100% !important; float:left;    margin-left: 0 !important;}

	.padding_footer {padding: 0% 10vw 0% 5vw !important;}
	
	footer h2 {
		font-size: 5vw !important;
		margin: 0vw auto 4vw auto !important;
		padding-top: 7vw !important;
	}
	
	footer label {
		font-size: 3vw !important;
	}
	
	
	footer ul>li>a {
		font-size: 3vw !important;
	}
	
	footer span {
		font-size: 3vw !important;
		margin: 10% 0 3% 0 !important;
	}
	
	.padding_footer form {height: 7vw !important;}
	
	input#email-footer {
		width: 40% !important;
		height: 6.5vw !important;
	}
	
	.padding_footer input[type="submit"] {
	
		padding: 2.5vw 4% !important;
		font-size: 3vw !important;
		width: 30% !important;
		height: 7.25vw !important;
	}
	
	
	.rs_ ul>li {
		width: 7% !important;
	}
	
	.rs_ ul>li>a {
		font-size: 5vw !important;
	} 
}