.legend-Contain{
	margin-left: 10px;
}

.arrawbtn {
	width: 2vw;
	height: 2vw;
	border-radius: 20px;
	border: none;
	display: flex;
	justify-content: center;
	margin-right: 10px;
  }

  .legendItem{
	  display: flex;
	  align-items: center;
  }
  .legend-text{
	  font-family: 'MontserratAlternates-bold';
font-style: mixed;
font-size: 1vw;
line-height: 100%;
font-weight: bold;
margin-bottom: 1vw;
color: #414042;
}
.legend-text-data{
	font-family: 'MontserratAlternates';
	font-style: mixed;
	font-size: 1vw;
	line-height: 100%;
	margin-bottom: 0;
}
  @media screen and (max-width: 767px) {
	.arrawbtn {
		width: 4vw;
		height: 4vw
	}
	.legend-text{
font-size: 2.5vw;
margin-bottom: 2vw;
	}
	.legend-text-data{
		font-size: 2.5vw;
		line-height: 100%;
		margin-bottom: 0;
	}
}