.legend-Contain{
	margin-left: 10px;
}

.arrawbtn {
	width: 2vw;
	height: 2vw;
	border-radius: 20px;
	border: none;
	display: flex;
	justify-content: center;
	margin-right: 10px;
  }

  .legendItem{
	  display: flex;
	  align-items: center;
  }
  .legend-text{
font-style: mixed;
font-size: 1vw;
line-height: 100%;
font-weight: bold;
}

  @media screen and (max-width: 767px) {
	.arrawbtn {
		width: 4vw;
		height: 4vw
	}
	.legend-text{
font-style: mixed;
line-height: 100%;
font-size: 2.5vw;
	}
}