body {
	color:#414042;
	margin: 0;
}

@font-face {
    font-family: 'SFProDisplay-medium';
    src: url('./font/fonts/SFProDisplay-Medium.eot');
    src: url('./font/fonts/SFProDisplay-Medium.eot?#iefix') format('embedded-opentype'),
    url('./font/fonts/SFProDisplay-Medium.woff2') format('woff2'),
    url('./font/fonts/SFProDisplay-Medium.woff') format('woff'),
    url('./font/fonts/SFProDisplay-Medium.ttf') format('truetype'),
    url('./font/fonts/SF-Pro-Display-Medium.otf');
    font-weight: 500;
    font-style: normal;
    font-display: swap;
}

@font-face {
	font-family: 'SFProDisplay-bold';
	src: url('./font/fonts/SFProDisplay-Bold.eot');
	src: url('./font/fonts/SFProDisplay-Bold.eot?#iefix') format('embedded-opentype'),
	url('./font/fonts/SFProDisplay-Bold.woff2') format('woff2'),
	url('./font/fonts/SFProDisplay-Bold.woff') format('woff'),
	url('./font/fonts/SFProDisplay-Bold.ttf') format('truetype'),
	url('./font/fonts/SF-Pro-Display-Bold.otf') format('truetype');
	font-weight: bold;
	font-style: normal;
	font-display: swap;
}

@font-face {
    font-family: 'SFProDisplay-regular';
    src: url('./font/fonts/SFProDisplay-Regular.eot');
    src: url('./font/fonts/SFProDisplay-Regular.eot?#iefix') format('embedded-opentype'),
    url('./font/fonts/SFProDisplay-Regular.woff2') format('woff2'),
    url('./font/fonts/SFProDisplay-Regular.woff') format('woff'),
    url('./font/fonts/SFProDisplay-Regular.ttf') format('truetype'),
    url('./font/fonts/SF-Pro-Display-Regular.otf') format('truetype');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'SFProDisplay-light';
	src: url('./font/fonts/SFProDisplay-Light.eot');
	src: url('./font/fonts/SFProDisplay-Light.eot?#iefix') format('embedded-opentype'),
	url('./font/fonts/SFProDisplay-Light.woff2') format('woff2'),
	url('./font/fonts/SFProDisplay-Light.woff') format('woff'),
	url('./font/fonts/SFProDisplay-Light.ttf') format('truetype'),
  url('./font/fonts/SF-Pro-Display-Light.otf') format('truetype');
    font-weight: 300;
    font-style: normal;
    font-display: swap;  
}

@font-face {
    font-family: 'MontserratAlternates';
    src: url('./font/fonts/MontserratAlternates-Light.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'MontserratAlternates-bold';
    src: url('./font/fonts/MontserratAlternates-SemiBold.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Montserrat';
    src: url('./font/fonts/Montserrat-Bold.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Montserrat-light';
    src: url('./font/fonts/Montserrat-Light.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Montserrat-SemiBold';
    src: url('./font/fonts/Montserrat-SemiBold.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}


